.Latest
  .Left
    .Left__Picture
      -# = image_tag"/assets/1.jpg", alt: "image", class: 'Feature-Pic' 
      = link_to image_tag("/assets/1.jpg", alt: "image", class: 'Feature-Pic'), details_path
    .Left__Heading
      %h2 【東京】新国立競技場がついに竣工！
  .Right
    .Right__Picture
      = image_tag "/assets/2.jpg", alt: "image", class: 'Feature-Pic'
    .Right__Heading
      %h2 【スペイン】本当に2026年に完成予定！？