.PickUp
  .PickUp__Heading
    2020年07月19日のピックアップ
  .PickUp__ProjectBox
    .PickUp__Picture
    = image_tag "/assets/3.jpg", alt: "image", class: 'PickUp-Pic'
    .PickUp__Text
      .PickUp__Text__Heading
        【渋谷】渋谷スクランブルスクエア
        %br/
        渋谷駅に直結した複合施設型超高層ビル
      .PickUp__Text__Letter
        2014年から工事が続いていた渋谷駅直結の超高層ビルの第1期
        %br/
        工事がついに竣工した。設計には…
      .PickUp__Text__Writer
        Archi Log
  .PickUp__ProjectBox
    .PickUp__Picture
    = image_tag "/assets/4.jpg", alt: "image", class: 'PickUp-Pic'
    .PickUp__Text
      .PickUp__Text__Heading
        【中国】アリババの未来型ホテルが開業。
        %br/
        どこでも「顔パス」で上機嫌。
      .PickUp__Text__Letter
        アリババグループが2年半に渡って温めてきた近未来方ホテルが
        %br/
        ついに開業した。本所在地の…
      .PickUp__Text__Writer
        アイロンヘッド
  .PickUp__ProjectBox
    .PickUp__Picture
    = image_tag "/assets/5.jpg", alt: "image", class: 'PickUp-Pic'
    .PickUp__Text
      .PickUp__Text__Heading
        【新豊洲】2020年日本建築学会賞作品賞
        %br/
        『道の駅 ましこ』MOUNT FUJI ARCHITECTS STUDIO
      .PickUp__Text__Letter
        MOUNT FUJI ARCHITECTS STUDIOが2020年建築学会賞作品賞
        %br/
        を受賞した。道の駅という…
      .PickUp__Text__Writer
        4時は夢中
  .PickUp__ProjectBox
    .PickUp__Picture
    = image_tag "/assets/6.jpg", alt: "image", class: 'PickUp-Pic'
    .PickUp__Text
      .PickUp__Text__Heading
        【渋谷】渋谷パルコがオープン。設計は竹中工務店、
        %br/
        空中階の設計には藤本壮介建築設計事務所が担当。
      .PickUp__Text__Letter
        再開発が進んでいる渋谷に新たな商業施設が新規
        %br/
        オープンした。…
      .PickUp__Text__Writer
        塩大地