- if person_signed_in? && topic.liked_by?(current_person)
  = link_to topic_likes_path(topic.id),  method: :delete, class: "like-btn-unlike" , remote: true do
    %i.fas.fa-heart
    = @like_count
- else
  = link_to topic_likes_path(topic.id), method: :post, class: "like-btn" , remote: true do
    %i.fas.fa-heart
    = @like_count