.Profile
  = link_to show_4_writers_path do
    .Icon
    = image_tag "/assets/27.png", alt: "image", class: 'Profile-Pic'
    .Account
      Satochi-Chan
    .Introduction
      建築系エンジニアのSatochi-Chanです。都内の建築を中心にコンペ結果などを投稿しています。よろしくお願いします。
      %br/
      @5atochika