.Profile
  = link_to show_5_writers_path do
    .Profile__Icon
    = image_tag "/assets/28.jpg", alt: "image", class: 'Profile-Pic'
    .Account
      NIKKEN.com
    .Introduction
      日建設計広報部によるアカウントです。情報解禁になったプロジェクトやアンビルドになったコンペ案などをいち早く投稿しています。