.Profile
  = link_to show_1_writers_path do
    .Profile__Icon
    = image_tag "/assets/13.jpg", alt: "image", class: 'Profile-Pic'
    .Account
      わだこうへいた
    .Introduction
      3DS MAXを使ったCG作成が得意です。普段は多て設計事務所勤務ですが、たまに個人でも活動しています。
      %br/
      インスタにはプロジェクトをUPしているので、フォローミー。
      %br/
      @Koheta_jpg