.Profile
  = link_to show_2_writers_path do
    .Profile__Icon
    = image_tag "/assets/16.png", alt: "image", class: 'Profile-Pic'
    .Account
      アイロンヘッド
    .Introduction
      お笑いラジオや建築探訪が好きで、たまにネタを投稿したりしています。海外旅行などで観光名所を訪れることが好きです。