.Profile
  = link_to show_3_writers_path do
    .Profile__Icon
    = image_tag "/assets/26.jpg", alt: "image", class: 'Profile-Pic'
    .Account
      Archi-TV
    .Introduction
      建築情報を放送しているネト番組です。学生の有志ボランティアもどしどし募集していますので、奮ってご応募お待ちしています！