.Profile
  = link_to show_6_writers_path do
    .Profile__Icon
    = image_tag "/assets/25.gif", alt: "image", class: 'Profile-Pic'
    .Account
      Poten-Poten
    .Introduction
      東京と長野の２拠点で設計活動を行っています。個人住宅から公共建築まで幅広く建築設計をしていますので、お仕事の依頼も是非受け付けています。
      %br/
      よろしくお願いします！