.AccountPage {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #38aef0;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.Section{
  display: flex;
  justify-content: center;
  .UserInfo{
  width: 720px;
  height: 200px;
  background-color: #F8F8F8;
  // background-color: #F8F8F8;
  border: 2px solid #EEEEEE;
  padding: 19px;
  margin: 20px 20px 30px 0;
  display: flex;
  .UserInfo__icon{
    width: 150px;
    height: 150px;
    background-color: rgb(230, 123, 230);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    font-size: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .UserInfo__name{
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20px;
    }
  }
  .Posts{
    display: flex;
    .PostsIndex{
      width: 250px;
      height: 50px;
      background-color: #DDD;
      font-size: 20px;
      padding: 10px 80px;
    }
    a{
      border: solid 1px #DDD;
      width: 250px;
      height: 50px;
      font-size: 20px;
      padding: 10px 80px;
    }
    a:hover {
      color: #f1f1f1;
    }
  }
}



.SubItems{
  display: flex;
  margin-left: 300px;
  font-size: 12px;
  .SubItems__edit{margin-right: 5px;}
  .SubItems__detail{margin-right: 5px;}
  .SubItems__delete{margin-right: 5px;}
}