.Header
  .Search
  .Title
    %h1 Archi Log
  .User
    .User__Icon
    .User__Name
      中村慧睦
.Latest
  .Left
    .Left__Picture
    .Left__Heading
      【東京】新国立競技場がついに
      %br/
      竣工！
  .Right
    .Right__Picture
    .Right__Heading
      【スペイン】本当に2026年に
      %br/
      完成予定！？