.Top
  = form_with local: true do |f|
    .Header
      .Search
        = f.text_field :name, class: 'Form_input', placeholder: 'キーワード（例：隈研吾）'
        = f.submit class: 'Search', value: '検索'
      .Title
        %h1 archi log
      .User
        .User__Icon
        .User__Name
          中村慧睦
.Latest
  .Left
    .Left__Picture
    .Left__Heading
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      【東京】新国立競技場がついに竣工！
  .Right
    .Right__Picture
    .Right__Heading
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      【スペイン】本当に2026年に完成予定！？