.Body
  .Contents
    .Ivent
      今日のイベント
    .WhatDay
      今日は何の日
    .Feature
      特集
    .Serialization
      連載
    .NewArrival
      新着情報
    .NewArchitecture
      新建築
    .Recommended
      編集部のおすすめ
    .House
      住宅
    .Library
      図書館
    .Museum
      美術館
    .Hotel
      ホテル
    .CityHall
      市庁舎
    .Renovation
      リノベーション
    .Conversion
      コンバージョン
  .PickUp
    .Heading
      2020年01月19日のピックアップ
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            【渋谷】渋谷スクランブルスクエア
            %br/
            渋谷駅に直結した複合施設型超高層ビル
          .Text__Letter
            2014年から工事が続いていた渋谷駅直結の超高層ビルの第1期
            %br/
            工事がついに竣工した。設計には…
          .Text__Writer
            Archi Log
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            【中国】アリババの未来型ホテルが開業。
            %br/
            どこでも「顔パス」で上機嫌。
          .Text__Letter
            アリババグループが2年半に渡って温めてきた近未来方ホテルが
            %br/
            ついに開業した。本所在地の…
          .Text__Writer
            アイロンヘッド
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            【新豊洲】2020年日本建築学会賞作品賞
            %br/
            『道の駅 ましこ』MOUNT FUJI ARCHITECTS STUDIO
          .Text__Letter
            MOUNT FUJI ARCHITECTS STUDIOが2020年建築学会賞作品賞
            %br/
            を受賞した。道の駅という…
          .Text__Writer
            4時は夢中
  .Runking
    .Heading
      アクセスランキング
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            失敗しない！マリーナベイ
            %br/
            サンズの楽しみ方
            %br/
            (ディテール編)
          .Text__Writer
            中村亮太
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            台湾・新竹市の図書館コン
            %br/
            ペ、平田晃久チームが「知
            %br/
            の峡谷」で最優秀に
          .Text__Writer
            Archi-TV
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            失敗しない！マリーナベイ
            %br/
            サンズの楽しみ方
            %br/
            (ディテール編)
          .Text__Writer
            中村亮太
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            東京アパートメント（藤本
            %br/
            壮介事務所）で見学会
            %br/
            が開催
          .Text__Writer
            Satochi-Chan
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            MVRDV設計の「Y HOUSE」
            %br/
            がやっぱりすごい
            %br/
          .Text__Writer
            わだこうへいた
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            ザハアーキテクツなどを抑え
            %br/
            て日建設計が当選、ロシア最
            %br/
            大手銀行のTODコンペ
          .Text__Writer
            NIKKEN.com
      .ProjectBox
        .Picture
        .Text
          .Text__Heading
            100者の応募を制したのはパ
            %br/
            ーシモンヒルズ、岩手県住田
            %br/
            町の公民館プロポ
          .Text__Writer
            Poten-Poten