* {
  box-sizing: border-box;
}

.Top{
  width: 100%;
  height: 80px;
  padding: 5px 200px;
  border-bottom: solid 1px rgb(241, 238, 238);
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .User__Icon{
    border-radius: 50%;
    font-size: 7px;
    padding-left: 1.1em;
    padding-right: 1.1em;
    margin-right: 5px;
    width: 45px;
    height: 30px;
    object-fit: cover;
  }
}
.Search{
  display: flex;
  height: 30px;
  width: 80px;
}
.Form_input{
  width: 1000px;
}
.User{
  display: flex;
}

.User__Name{
  font-size: 13px;
}
.UserInfo__Text{
  font-size: 13px;
  color: #999999;
  width: 500px;
  margin-top: 80px;
  margin-left: 175px;
  position: absolute;
}
.User__Edit{
  margin-left: 10px;
  font-size: 13px;
  margin-top: 3px;
}
.title {
  font-size: 50px;
  color: orange;
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 20px;
  text-decoration: none;
}
.Subtitle {
  font-size: 30px;
  color: #fff;
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 20px;
  text-decoration: none;
  
}
.Latest{
  height: 340px;
  padding: 0 200px;
  display: flex;
  justify-content: center;
  h2 {
    margin-top: 250px;
    margin-left: 20px;
    position: relative;
    font-size: 25px;
  }
  .Left{
    width: 550px;
    color: #fff;
  }
  .Right{
    width: 550px;
    color: #fff;
    font-size: 25px;
  }
}

.Left__Writer{
  color: #fff;
  position: relative;
  display: flex;
  margin-top: 5px;
}
.Writer-Ico{
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.Right__Writer{
  color: #fff;
  position: relative;
  display: flex;
  margin-top: 5px;
  font-size: 15px;
}

.Feature-Pic{
  height: 340px;
  width: 520px;
  position: absolute;
}


.wrapper-1{
  display: flex;
  justify-content: center;
}
.Under{
  text-align: center;
  background-color:#808080;
  height: 100px;
  padding-top: 25px;
  margin-top: 20px;
}

.content{
  width: 200px;
  padding-left: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: gray;
  font-size: 12px;
  border-right: solid 1px rgb(241, 238, 238);
}
.Ivent{ padding: 10px 0;}
.WhatDay{ padding: 10px 0;}
.Feature{ padding: 10px 0;}
.Serialization{ padding: 10px 0;}
.NewArrival{ padding: 10px 0;}
.NewArchitecture{ padding: 10px 0;}
.Recommended{ padding: 10px 0;}
.House{ padding: 10px 0;}
.Library{ padding: 10px 0;}
.Museum{ padding: 10px 0;}
.Hotel{ padding: 10px 0;}
.CityHall{ padding: 10px 0;}
.Commarce{ padding: 10px 0;}
.Renovation{ padding: 10px 0;}
.Conversion{ padding: 10px 0;}
.PickUp{
  width: 600px;
  padding-top: 20px;
}

.PickUp__ProjectBox{
  height: 150px;
  width: 560px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px rgb(241, 238, 238);
  a{
  text-decoration: none;
  color: #000000;
  }
}
.PickUp-Pic{
  height: 130px;
  margin-right: 20px;
  object-fit: cover;
}
.PickUp-Pic-1{
  height: 130px;
  margin-right: 20px;
  object-fit: cover;
  width: 170px;
}
.PickUp__Text__Letter{
  font-size: 11px;
  margin-top: 5px;
  color: gray;
}
.PickUp__Text__Writer{
  font-size: 10px;
  color: gray;
  margin-top: 15px;
}
.Right{
  .Runking{
    width: 250px;
    height: 500px;
    margin-top: 20px;
    border: solid 2px rgb(241, 238, 238);
  }
  .RecommendHeading{
    width: 250px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
  }
}
.Recommend_list{
  display: flex;
  flex-wrap: wrap;
  .Recommend_btn{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    .btn{
      display: block;
      width: 72px;
      height: 20px;
      font-size: 9px;
      border-radius: 5px;
      border: 2px solid transparent;
      cursor: pointer;
      text-align: center;
      background-color: rgb(238, 238, 238);
      margin-right: 3px;
      margin-top: 3px;
    }
    a{
      text-decoration: none;
      color: black;
      color: rgb(165, 164, 164);
    }
  }
}

.Runking__Heading{
  height: 30px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
.Runking__ProjectBox{
  height: 70px;
  margin: 5px;
  display: flex;
  align-items: flex-start;
  .Recommended-Pic{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    object-fit: cover;
  }
  .Runking__num{
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px;
    width: 15px;
    background-color: rgb(238, 163, 119);
    color: #ffffff;
  }
  .Runking__Text__Heading{
    margin-left: 60px;
    font-size: 12px;
    width: 150px;
    height: 60px;
    a{font-weight: lighter;
      color: black}
  }
}



.Runking__Text__Writer{
  margin-left: 60px;
  font-size: 8px;
  color: gray;
}




.Profile{
  height: 200px;
  width: 250px;
  position: relative;
  padding: 14px;
  border: solid 2px rgb(241, 238, 238);
  .Icon{
    height: 60px;
    width: 60px;
    margin-top: 50px;
    position: absolute;
  }
  .Account{
    // height: 170px;
    width: 130px;
    margin-left: 70px;
    font-weight: bold;
  }
  .Introduction{
    position: absolute;
    margin-top: 5px;
    margin-left: 70px;
    font-size: 12px;
    color: gray;
  }
}

.Profile-Pic{
  height: 60px;
  width: 60px;
  margin-top: 50px;
  position: absolute;
  object-fit: cover;
}

.ConceptBox{
  height: 300px;
  background-color: rgb(252, 252, 252);
  border: solid 1px rgb(241, 238, 238);
  &__Fabo{
    height: 60px;
    position: relative;
    border-bottom: solid 1px rgb(241, 238, 238);
  }
}
.fas.fa-star{
  margin-top: 20px;
  margin-left: 600px;
}
.ConceptBox__Hedding{
  display: flex;
}
.Concept-Pic{
  height: 120px;
  width: 170px;
  margin-top: 30px;
  margin-left: 30px;
}

.ConceptBox__Title{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
}

.ConceptBox_Text{
  font-size: 13px;
  color: #999999;
  width: 500px;
  margin-top: 120px;
  margin-left: 230px;
  position: absolute;
}
.TopicsBox__Fab-btn{
  margin-top: 10px;
  a:hover {
    color: #fff49e;
  }
}
.fab-btn{
  background-color: #e6e6e6;
  border-style: none;
  color: rgb(165, 164, 164);
  border-radius: 5px;
  width: 130px;
  margin-left: 360px;
  padding: 5px;
}
.Details{
  padding: 20px 40px 0;
  .Recommend_list{
    display: flex;
    flex-wrap: wrap;
    .Recommend_btn{
      padding-top: 15px;
      display: flex;
      flex-wrap: wrap;
      .btn{
        display: block;
        width: 72px;
        height: 20px;
        font-size: 9px;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        text-align: center;
        background-color: rgb(238, 238, 238);
        margin-right: 3px;
        margin-top: 3px;
      }
      a{
        text-decoration: none;
        color: black;
        color: rgb(165, 164, 164);
      }
    }
  }
}