//使えそうなメモ
//   line-height: 1.57;
//   letter-spacing: 0.15em;
//   font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;

.Article{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


.Detail{
  width: 750px;
  margin-right: 20px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.NewTopic{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  .alert {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }
}
.NewTopic__page{
  font-size: 30px;
  letter-spacing: 0.15em;
  padding-right: 600px;
  padding-bottom: 30px;
}
.FormBox{
  width: 80vw;
  padding: 0px 30px;
  margin-bottom: 20px;
  &__input--normal{
    padding-bottom: 40px;
  }
}

.ImageLogo__icon {
  font-size: 50px;
  padding-bottom: 30px;
}
form input, form textarea {
  width: 20vw;
  padding: 3px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}
.action{
  margin-right: 290px;
}
.return{
  margin-top: 30px;
  margin-right: 300px;
  margin-bottom: 50px;
  a:hover {
      color: #f1f1f1;
    }
}


.search-form {
  // text-align: center;
  padding-top: 20px;
  
}

.search-form .search-input {
  width: 50%;
  margin-bottom: 50px;
}

.search-form .search-btn {
  width: 10%;
}

a {
  text-decoration: none;
  color: #666;
}


.NewArticle__erroer {
  padding: 20px 30px;
  color: #ff0000;
}

.FormBox{
  width: 80vw;
  padding: 0px 30px;
  // overflow-x: scroll;
  margin-bottom: 20px;
}

.file {
  display: none;
}

//index.html.hamlのcssをここから装飾する
.ArticleTop {
  width: 100vw;
  height: calc( 100vh - 10vh);
  padding: 30px 60px;
  box-sizing: border-box;
  overflow: scroll;
}

.ArticleTop__page {
  width: 100vw;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.15em;
}

.ArticleTop__page__items {
  display: flex;
  font-size: 16px;
  &__toppage, &__newpost {
    display: block;
    background: #fffacd;
    color: #fff;
    height: 32px;
    padding: 5px 8px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 15px;
  }
}

.Contents {
  padding: 10px 20px;
  overflow: hidden;
}
.murata {
  float: left;
  width: 230px;
  height: 450px;
  border: 1px solid #D8D8D8;;
  padding: 30px;
  margin: 10px;
  border-radius: 8px !important;
  box-shadow: darkmagenta;
  color: #383838;
  font-size: 16px;
}

.MyPage {
  float: left;
  width: 230px;
  height: 500px;
  border: 1px solid #D8D8D8;;
  padding: 30px;
  margin: 10px;
  border-radius: 8px !important;
  box-shadow: darkmagenta;
  color: #383838;
  font-size: 16px;
}

.Content {
  width: 400px;
  height: 450px;
  list-style: none;
  img {
    border-radius: 8px !important;
    width: 230px;
    height: 300px;
    object-fit:cover;
  }
  &__Image {
    display: block;
    margin-top: 5px;
    width: 100px;
    img {
      border-radius: 8px !important;
      width: 230px;
      height: 250px;
      object-fit: cover;
    }
  }
  &__Title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    height: 50px;
    overflow: scroll;
  }
  &__Description {
    margin-top: 10px;
    height: 110px;
    width: 250px;
    font-size: 16px;
    overflow: scroll;
  }
}


.Topics{
  display: flex;
  justify-content: space-between;
  width: 1040px; max-width: 100%;
  margin: 30px auto;
}
.TopicsBox{
  height: 300px;
  background-color: rgb(252, 252, 252);
  border: solid 1px rgb(241, 238, 238);
  width: 760px;
  word-wrap: break-word;
  &__Fabo{
    height: 60px;
    position: relative;
    border-bottom: solid 1px rgb(241, 238, 238);
  }
}
.fas.fa-star{
  margin-top: 20px;
  margin-left: 600px;
}
.TopicsBox__Hedding{
  display: flex;
}
.Topics-Pic{
  height: 170px;
  margin-top: 30px;
  margin-left: 30px;
  object-fit: cover;
}
.TopicsBox__Title{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  width: 90%;
  word-wrap: break-word;
}
.TopicsBox_Text{
  font-size: 13px;
  color: rgb(194, 194, 194);
  width: 450px;
  margin-top: 15px;
  margin-left: 20px;
  position: absolute;
}
.Fav-btn{
  a:hover {
    color: #fff49e;
  }
}
.fav-btn{
  background-color: #e6e6e6;
  border-style: none;
  color: rgb(165, 164, 164);
  border-radius: 5px;
  width: 130px;
  margin-left: 300px;
  padding: 5px;
  font-size: 13px;
}

.Text{
  margin-top: 80px;
}
.Detail_Heading{
  font-size: 25px;
  font-weight: bolder;
  padding: 20px, 30px, 0;
}
.Detail_Border{
  margin-top: 20px;
  border-top: solid 4px rgb(241, 238, 238);
}
.Detail-Pic{
  margin-top: 20px;
  margin-left: 20px;
  height: 330px;
  width: 500px;
}
.Text_Detail{
  margin-top: 20px;
  width: 760px;
}
.Detail-Pic2{
  margin-top: 20px;
}
.Detail_Text2{
  margin-left: 330px;
  font-size: 12px;
  color: gray;
}
.wrapper-2{
  display: flex;
  padding-left: 200px;
}
.List-Pic{
  width: 500px;
}